<?xml version="1.0" encoding="UTF-8"?>
<plugin xmlns="http://www.phonegap.com/ns/plugins/1.0"
    xmlns:android="http://schemas.android.com/apk/res/android"
    id="org.bcsphere.pedometer"
    version="0.0.1">

    <name>Pedometer</name>
	<description>Pedometer Plugin</description>
	<license>Apache 2.0</license>
	<keywords>bcsphere,pedometer</keywords>
	<engines>
        <engine name="cordova" version=">=3.0.0" />
    </engines>
	
	<js-module src="www/pedometer.js" name="pedometer">
        <merges target="navigator.pedometer" />
    </js-module>

  <!-- android -->
  <platform name="android">
	
	<config-file target="res/xml/config.xml" parent="/*">
        <feature name="Pedometer">
            <param name="android-package" value="org.bcsphere.pedometer.Pedometer"/>
        </feature>
    </config-file>

    <source-file src="src/android/org/bcsphere/pedometer/Pedometer.java" target-dir="src/org/bcsphere/pedometer" />

  </platform>

  <!-- ios -->
  <platform name="ios">
      <config-file target="config.xml" parent="/*">
          <feature name="Pedometer">
              <param name="ios-package" value="org.bcsphere.pedometer.Pedometer"/>
          </feature>
      </config-file>
    
      <header-file src="src/ios/Pedometer.h" />
      <source-file src="src/ios/Pedometer.m" />
      <framework src="SystemConfiguration.framework" weak="true" />
  </platform>
</plugin>
